/* App.css */

.carousel {
    /* width: 300px; Width of the carousel container */
    overflow: hidden; /* Hide overflow to create sliding effect */
    margin: 0 auto;
    /* background-color: #484787; */
  }
  
  .cards-container {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Smooth transition between slides */
  }
  
  .card {
    min-width: 100%; /* Each card takes full width of the carousel */
    height: 200px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: 1px solid #ccc;
  }

  .product-msg-content {
    font-size: small;
    font-weight: 700;
    font-style: oblique;
    min-height: 70px;
  }
  