.hero-section {
  background-image: url('/src/assets/test-test-09.png');
  /* Ensure the image is in the public folder */
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-hm-sec {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.popular-head-name {
  padding: 0px 32px;
  display: flex;
  justify-content: center;
}

.main-left-wrp {
  width: 50%;
  padding: 16px;
  display: flex;
}

.id-btns-wrapper {
  padding-top: 16px;
  gap: 16px;
  justify-content: center;
  display: flex;
}

.id-cls {
  text-decoration: none;
    color: white;
}

.main-right-wrp {
  width: 50%;
  /* height: 300px; */
}

.hero-content {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 10px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 24px;
  color: #fff;
}

.features-section {
  padding-top: 32px;
  width: 100%;
  height: auto;
}

.auto-product-rotate-wrap {
  height: auto;
  display: flex;
  padding: 0px 16px;
}

.rotate-card-wrp {
  width: 100%;
  height: auto;
  border-radius: 8px;
  background: #f1e5e5b5;
}

.dummy-content {
  max-width: 800px;
  margin: 20px auto;
}

.dummy-content p {
  margin-bottom: 15px;
}

html {
  scroll-behavior: smooth;
}

/* Example */
.hero-section {
  padding-top: 80px;
  /* Adjust based on navbar height */
}

.aboutus-section-main-wrap {
  padding-top: 32px;
    width: 100%;
    height: auto;
}

.about-sub-wrapper {
  height: auto;
    display: flex;
    padding: 0px 16px;
}

.contactus-section-main-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  height: auto;
}

.contact-sub-wrapper {
  height: auto;
  display: flex;
  padding: 0px 16px;
}
